In [1]:
DIVISOR = 1000000

In [2]:
import tensorflow as tf
import json
import numpy as np
import csv
import os
import pandas as pd
from pandas import DataFrame as DF
import yaml
import psycopg2
import sys
import json
import mysql.connector
import decimal

/home/adrianekas/.local/lib/python2.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [1]:
CONFIG_PATH = DIR + '/config/'

APP = CONFIG_PATH + 'app.yaml'
with open(APP, 'r') as stream:
    try:
        APP_CONFIG = yaml.load(stream)
    except yaml.YAMLError as exc:
        print(exc)

print APP_CONFIG
ENV = APP_CONFIG['env']
VERSION = APP_CONFIG['version']

NameError: name 'DIR' is not defined

In [3]:
TIPE_PERUSAHAAN = "tipe_perusahaan"
PENDIDIKAN_TERAKHIR = "pendidikan_terakhir"
LOCATION = "location"
TIPE_INDUSTRI = "tipe_industri"
KATEGORI_PEKERJAAN = "kategori_pekerjaan"
JENJANG_KARIR = "jenjang_karir"
PENGALAMAN_KERJA = "pengalaman_kerja"
BIAS = "bias"

PREDEFINE_TIPE_PERUSAHAAN = {}
PREDEFINE_PENDIDIKAN_TERAKHIR = {}
PREDEFINE_LOKASI = {}
PREDEFINE_TIPE_INDUSTRI = {}
PREDEFINE_KATEGORI_PEKERJAAN = {}
PREDEFINE_JENJANG_KARIR = {}

DATA_TIPE_PERUSAHAAN = []
DATA_PENDIDIKAN_TERAKHIR = []
DATA_LOKASI = []
DATA_TIPE_INDUSTRI = []
DATA_KATEGORI_PEKERJAAN = []
DATA_JENJANG_KARIR = []
DATA_PENGALAMAN_KERJA = []
DATA_SALARY = []

In [4]:
CONFIG_PATH = DIR + '/config/'

ML_DATABASE = CONFIG_PATH + 'ml.database.yaml'
with open(ML_DATABASE, 'r') as stream:
    try:
        CONFIG = yaml.load(stream)
        ML_CONFIG_ENV = CONFIG[ENV]
    except yaml.YAMLError as exc:
        print(exc)

mydb = mysql.connector.connect(
  host=ML_CONFIG_ENV['host'],
  port=ML_CONFIG_ENV['port'],
  user=ML_CONFIG_ENV['username'],
  passwd=ML_CONFIG_ENV['password'],
  database=ML_CONFIG_ENV['database']
)

In [5]:
def getPredefineFor(tipe):
    DATA = {}
    mycursor = mydb.cursor()
    mycursor.execute("SELECT kunci, nilai FROM Salary_PredefinedData WHERE versi = '" + VERSION +
                     "' AND tipe = '" + tipe + "'")
    myresults = mycursor.fetchall()
    for r in myresults:
        DATA[r[0]] = r[1]
    return DATA

In [6]:
mycursor = mydb.cursor()
mycursor.execute("SELECT kunci,nilai FROM Salary_PredefinedData ORDER BY id DESC LIMIT 1")
myresult = mycursor.fetchone()

PREDEFINE_TIPE_PERUSAHAAN = getPredefineFor(TIPE_PERUSAHAAN)
PREDEFINE_PENDIDIKAN_TERAKHIR = getPredefineFor(PENDIDIKAN_TERAKHIR)
PREDEFINE_LOCATION = getPredefineFor(LOCATION)
PREDEFINE_TIPE_INDUSTRI = getPredefineFor(TIPE_INDUSTRI)
PREDEFINE_KATEGORI_PEKERJAAN = getPredefineFor(KATEGORI_PEKERJAAN)
PREDEFINE_JENJANG_KARIR = getPredefineFor(JENJANG_KARIR)

In [7]:
def fetchDataFromRawData():
    mycursor = mydb.cursor()
    mycursor.execute("SELECT * FROM Salary_RawData " + 
                     "ORDER BY id ;")
    myresult = mycursor.fetchall()
    mydb.commit()
    return myresult

In [8]:
RawData = fetchDataFromRawData()

for row in RawData:
    DATA_TIPE_PERUSAHAAN.append(float(PREDEFINE_TIPE_PERUSAHAAN[row[1]]))
    DATA_PENDIDIKAN_TERAKHIR.append(float(PREDEFINE_PENDIDIKAN_TERAKHIR[row[2]]))
    DATA_LOKASI.append(float(PREDEFINE_LOCATION[row[3]]))
    DATA_TIPE_INDUSTRI.append(float(PREDEFINE_TIPE_INDUSTRI[row[4]]))
    DATA_KATEGORI_PEKERJAAN.append(float(PREDEFINE_KATEGORI_PEKERJAAN[row[5]]))
    DATA_JENJANG_KARIR.append(float(PREDEFINE_JENJANG_KARIR[row[6]]))
    DATA_PENGALAMAN_KERJA.append(float(row[7]))
    DATA_SALARY.append(float(row[8]/DIVISOR))

In [9]:
cols = ['Tipe Perusahaan','Pendidikan Terakhir','Lokasi',
        'Tipe Industri','Kategori Pekerjaan','Jenjang Karir',
        'Pengalaman Kerja']
df = DF(list(zip(DATA_TIPE_PERUSAHAAN,DATA_PENDIDIKAN_TERAKHIR,DATA_LOKASI,
                 DATA_TIPE_INDUSTRI, DATA_KATEGORI_PEKERJAAN,
                 DATA_JENJANG_KARIR,DATA_PENGALAMAN_KERJA)),columns=cols)
df['salary'] = DATA_SALARY

In [10]:
import matplotlib.pyplot as plt
%matplotlib inline

#pd.plotting.scatter_matrix(df, figsize=(16,9))

In [11]:
import seaborn as sns
#plt.figure(figsize=(12,9))
#sns.heatmap(df.corr());

In [12]:
df.head()

,Tipe Perusahaan,Pendidikan Terakhir,Lokasi,Tipe Industri,Kategori Pekerjaan,Jenjang Karir,Pengalaman Kerja,salary
0,0.837729,0.744437,1.42701,1.029820,1.073970,0.671351,3.500000,6.0
1,0.837729,0.744437,1.57028,1.182570,1.706370,0.755812,1.665530,16.0
2,0.837729,0.744437,1.57028,1.400400,1.276400,0.367625,0.832192,5.0
3,0.837729,0.744437,1.42701,0.973477,0.689861,0.367625,0.250000,4.0
4,1.162270,0.744437,1.31553,1.029820,1.226500,0.367625,0.183105,4.0

In [13]:
# train/test split

X = df.iloc[:, [0,1,2,3,4,5,6]]
Y = df.salary

tr_idx = X.sample(frac=0.90).index # only take 90% of it
Xtr = X[X.index.isin(tr_idx)].values # filter the sample
Xts = X[~X.index.isin(tr_idx)].values

Ytr = Y[Y.index.isin(tr_idx)].values
Yts = Y[~Y.index.isin(tr_idx)].values

In [14]:
tf.reset_default_graph()

In [15]:
def getWeightOf(element):
    mycursor = mydb.cursor(buffered=True)
    mycursor.execute("SELECT nilai FROM Salary_Weighting " + 
                     "WHERE kunci = '" + element+ "'" + 
                     "ORDER BY id DESC;")
    myresult = mycursor.fetchone()
    if (myresult == None):
        return float(0)
    else:
        return float(myresult[0])

In [16]:
WEIGHT_TIPE_PERUSAHAAN = getWeightOf(TIPE_PERUSAHAAN)
WEIGHT_PENDIDIKAN_TERAKHIR = getWeightOf(PENDIDIKAN_TERAKHIR)
WEIGHT_LOCATION = getWeightOf(LOCATION)
WEIGHT_TIPE_INDUSTRI = getWeightOf(TIPE_INDUSTRI)
WEIGHT_KATEGORI_PEKERJAAN = getWeightOf(KATEGORI_PEKERJAAN)
WEIGHT_JENJANG_KARIR = getWeightOf(JENJANG_KARIR)
WEIGHT_PENGALAMAN_KERJA = getWeightOf(PENGALAMAN_KERJA)
WEIGHT_BIAS = getWeightOf(BIAS)

In [17]:
sess = tf.Session()

# create parameters
w = tf.get_variable(name='w', initializer=[[WEIGHT_TIPE_PERUSAHAAN],
                                           [WEIGHT_PENDIDIKAN_TERAKHIR],
                                           [WEIGHT_LOCATION],
                                           [WEIGHT_TIPE_INDUSTRI],
                                           [WEIGHT_KATEGORI_PEKERJAAN],
                                           [WEIGHT_JENJANG_KARIR],
                                           [WEIGHT_PENGALAMAN_KERJA]])
b = tf.get_variable(name='b', initializer=WEIGHT_BIAS)

# create input placeholders
x = tf.placeholder('float32', name='x')
y = tf.placeholder('float32', name='y_true')

In [18]:
#create linear model
yhat = tf.reshape(tf.matmul(x,w) + b, [-1,], name='yhat')

In [19]:
# Create the loss and test score functions

mse = tf.reduce_mean(tf.square(y - yhat), name='mse')
rmse = tf.sqrt(mse, name='rmse')

# test score
test_nrmse = tf.divide(rmse, tf.abs(tf.reduce_mean(y)), name='nrmse')

In [20]:
# init vars
init = tf.variables_initializer([w,b])

# reset parameters w and b 
sess.run(init)

In [21]:
# run optimization again with smaller learning rate
opt = tf.train.GradientDescentOptimizer(learning_rate=0.000025)
train = opt.minimize(rmse)

for i in range(len(tr_idx)):
    if(i % (len(tr_idx)/3) == 0 ) :
        nrmse = sess.run(test_nrmse, {x: Xts, y: Yts})
        print('Test NRMSE: {}'.format(nrmse))
        #print rmse.eval(session=sess)
        print w.eval(session=sess)
    else:
        sess.run(train, {x: Xtr, y: Ytr})

Test NRMSE: 1.85319268703
[[0.214885]
 [0.229013]
 [0.423632]
 [0.319602]
 [0.354085]
 [0.596791]
 [1.29891 ]]
Test NRMSE: 1.85294437408
[[0.21348722]
 [0.22865355]
 [0.41999128]
 [0.31874537]
 [0.35312128]
 [0.6045008 ]
 [1.3010516 ]]
Test NRMSE: 1.85269606113
[[0.21212187]
 [0.22833231]
 [0.41644242]
 [0.3179574 ]
 [0.35220712]
 [0.6122105 ]
 [1.3031932 ]]
Test NRMSE: 1.8524492979
[[0.21078338]
 [0.22803228]
 [0.41296557]
 [0.31720784]
 [0.3513505 ]
 [0.61992025]
 [1.305289  ]]

In [22]:
sess.run([w,b])

[array([[0.210783  ],
        [0.2280322 ],
        [0.4129646 ],
        [0.31720763],
        [0.35135025],
        [0.6199224 ],
        [1.3052895 ]], dtype=float32), 0.24674866]

In [23]:
def insertWeightData(key,value):
    sql = ("INSERT INTO Salary_Weighting (versi, "
           "kunci, nilai)" +
           "VALUES (%s,%s,%s)")
    val = (VERSION,key,str(value))
    mycursor.execute(sql, val)
    mydb.commit()

In [24]:
WEIGHT_TIPE_PERUSAHAAN = sess.run(w[0][0])
WEIGHT_PENDIDIKAN_TERAKHIR = sess.run(w[1][0])
WEIGHT_LOCATION = sess.run(w[2][0])
WEIGHT_TIPE_INDUSTRI = sess.run(w[3][0])
WEIGHT_KATEGORI_PEKERJAAN = sess.run(w[4][0])
WEIGHT_JENJANG_KARIR = sess.run(w[5][0])
WEIGHT_PENGALAMAN_KERJA = sess.run(w[6][0])
WEIGHT_BIAS = sess.run(b)

In [25]:
insertWeightData(TIPE_PERUSAHAAN,WEIGHT_TIPE_PERUSAHAAN)
insertWeightData(PENDIDIKAN_TERAKHIR,WEIGHT_PENDIDIKAN_TERAKHIR)
insertWeightData(LOCATION,WEIGHT_LOCATION)
insertWeightData(TIPE_INDUSTRI,WEIGHT_TIPE_INDUSTRI)
insertWeightData(KATEGORI_PEKERJAAN,WEIGHT_KATEGORI_PEKERJAAN)
insertWeightData(JENJANG_KARIR,WEIGHT_JENJANG_KARIR)
insertWeightData(PENGALAMAN_KERJA,WEIGHT_PENGALAMAN_KERJA)
insertWeightData(BIAS,WEIGHT_BIAS)